body {
	font-family:'Arial W01 Narrow';	
}
.admin-logo {
	background-color: #e5e5e5;
	padding-top: 40px;
	padding-bottom: 40px;
}
.admin-nav {
	background-color: #a4272c;
	height: 180px;
	position: relative;
}
.admin-nav-head {
	color: #fff;
	position: absolute;
	font-size: 46px;
	font-family: "Times New Roman", Times, serif;
	top: 56px;
}
.admin-nav-about {
	position: absolute;
	color: #fff;
	bottom: 20px;
	font-size: 18px;	
}
.admin-nav-user {
	position: absolute;
	color: #fff;
	bottom: 20px;
	right: 20px;
	font-size: 16px;
	font-style: italic;
}
.admin-nav-items {
	margin: 0;
	padding: 0;
	padding-top: 15px;
}
.admin-nav-items li {
	list-style: none;
	color: #fff;
	float: left;
	margin-right: 20px;
	padding-bottom: 5px;
	font-weight: 700;
}
.admin-nav-items li a:link, .admin-nav-items li a:visited {
	color: #fff;	
}
.hide {
	display: none;	
}

.admin-border {
	border-right: 1px solid #ccc;
}
.padded {
	padding: 20px;
}



@media (max-width: 768px) {
	.admin-nav-head {
		top: 70px;
		font-size: 28px;
	}
}
@media (max-width: 992px) {
	.admin-logo {
		background-color: #e5e5e5;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}