html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Arial W01 Narrow';
}

img.fill {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.bold,
strong {
    font-family: 'Arial W01 Narrow Bold';
}

em {
    font-style: italic;
}

strong.times {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
}

.ital {
    font-family: 'Arial W01 Narrow Italic';
}

.bold-ital {
    font-family: 'ArialW01-NarrowBoldItal';
}


/*
	Layout
*/

.logo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.admin_panel_holder {
    position: relative;
}

.admin_panel {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    z-index: 1;
}

.admin_panel a:link,
.admin_panel a:visited {
    color: #d2a4a6;
    text-decoration: none;
    position: relative;
    right: 0;
    top: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .admin_panel a:link,
    .admin_panel a:visited {
        color: #d2a4a6;
        text-decoration: none;
        position: relative;
        right: 50px;
        top: 8px;
    }
}

.admin_panel a:hover {
    text-decoration: underline;
}

.logo_fade {
    display: none;
}

.home_about {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/home_about.png);
    background-repeat: repeat;
    line-height: 192px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    padding-left: 20px;
}

.jll_americas_about {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/jll_americas_about.png);
    background-repeat: repeat;
    line-height: 192px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    padding-left: 20px;
}

.consulting_partners_about {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/consulting_partners.png);
    background-repeat: repeat;
    line-height: 192px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    padding-left: 20px;
}

.general_btn {
    position: absolute;
}

.sales_path {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/sales_path.png);
    background-repeat: repeat;
    line-height: 192px;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    padding-left: 20px;
}

.sub_title {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: #fff;
    font-size: 22px;
}

.flip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/1.png);
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #A2141A;
    font-size: 14px;
    color: #fff;
    padding: 20px;
    line-height: 18px;
}

.back h2 {
    font-size: 21px;
}

.back ul li {
    list-style-image: url(../images/bullet.png);
    margin-left: 10px;
    line-height: 18px;
}

.gray_box ul li {
    list-style-image: url(../images/bullet_dark.png);
    margin-left: 10px;
    line-height: 18px;
}

.gray_box ul.white_bullet li {
    list-style-image: url(../images/bullet.png);
    margin-left: 10px;
    line-height: 18px;
}

.font12 {
    font-size: 12px;
}

.flip_img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip_btn {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    right: 10px;
    bottom: 10px;
}

.flip_name {
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 20px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.flip_info {
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 20px;
}

.flip_info h1 {
    font-size: 50px;
    color: #A2141A;
}

.flip_info h2 {
    color: #fff;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 30px;
}

#tenant {
    background: url(../images/teal1.png);
}

#agency {
    background: url(../images/teal2.png);
}

#industrial {
    background: url(../images/teal3.png);
}

#retail {
    background: url(../images/teal2.png);
}

#tenant-back {
    background-color: #a1131a;
}

.block_content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.block_back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.gray_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #231F20;
    font-size: 14px;
    line-height: 16px;
}

.gray_box h2 {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    padding-bottom: 5px;
}

.recognition_row1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 160px;
    width: 576px;
}

.recognition_row2 {
    position: absolute;
    top: 160px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 576px;
    height: 160px;
}

.recognition_row2 .align {
    margin: 0 auto;
    width: 420px;
}

.recognition_row2 .align.margin-top {
    width: 100%;
    /*    margin-top: 8px;*/
}

.brokerage-scores {
    width: 330px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.investor-list {
    list-style: none;
    padding-left: none;
}

.investor-list li {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding; 0;
}

.recognition_box {
    width: 120px;
    height: 140px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0;
    font-size: 10px;
    line-height: 14px;
    font-family: 'Arial W01 Narrow Bold';
}

.recognition_box img {
    max-width: 88px;
    display: inline-block;
    vertical-align: baseline;
}

.block_content_nm {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.block_content h1 {
    color: #fff;
    font-size: 50px;
}

.block_content h1 small {
    font-size: 12px;
}

.block_content h2 {
    color: #fff;
    font-size: 23px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin-bottom: 30px;
}

h1.teal {
    font-size: 50px;
    color: #488080;
}

h2.teal {
    font-size: 23px;
    color: #488080;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.pointer {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/pointer.png);
    bottom: 10px;
    right: 10px;
}

.statistics {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Arial W01 Narrow Bold';
}

.statistics.black {
    color: #000;
}

.clickable {
    cursor: pointer;
}

.gray_box h1,
.back h1 {
    font-size: 50px;
    color: #A2141A;
    line-height: 40px;
    padding-bottom: 10px;
}

.wcp_left {
    width: 40.11194029850746%;
    padding-right: 3.73134328358209%;
    float: left;
    margin-top: 1.865671641791045%;
}

.wcp_right {
    width: 51.30597014925373%;
    float: left;
    margin-top: 1.865671641791045%;
    padding-left: 3.73134328358209%;
    border-left: 1px solid #333;
}

.nho_left {
    width: 58.76865671641791%;
    float: left;
    padding-right: 3.73134328358209%;
    border-right: 1px solid #333;
}

.nho_right {
    width: 32.64925373134328%;
    float: left;
    margin-left: 3.73134328358209%;
}

.left_half {
    width: 48%;
    float: left;
}

.right_half {
    width: 48%;
    float: right;
}

.daf_left {
    width: 32.64925373134328%;
    padding-right: 3.73134328358209%;
    float: left;
    border-right: 1px solid #fff;
}

.daf_right {
    width: 58.76865671641791%;
    float: left;
    margin-left: 3.73134328358209%;
}

.nps_left {
    width: 53.84615384615385%;
    float: left;
    padding-right: 3.418803418803419%;
    border-right: 1px solid #fff;
}

.nps_right {
    width: 29.91452991452991%;
    padding-left: 3.418803418803419%;
    float: left;
}

.home_people {
    width: 536px;
    height: 152px;
}

.home_people.long {
    width: 728px;
    height: 152px;
}

.home_people.full {
    width: 920px;
    height: 152px;
}

.wp_left {
    width: 210px;
    padding-right: 20px;
    float: left;
}

.wp_right {
    width: 114px;
    float: left;
    text-align: right;
    position: relative;
}

.dt_left {
    width: 402px;
    padding-right: 20px;
    float: left;
}

.dt_right {
    width: 114px;
    float: left;
    text-align: right;
    position: relative;
}

.ar_holder {
    position: relative;
    text-align: right;
    padding-left: 40px;
}

.w536 {
    width: 536px;
}

.scroll_box {
    position: relative;
    width: 344px;
    height: 304px;
    overflow: auto;
}

.scroll_bar {
    width: 12px;
    height: 311px;
    position: absolute;
    right: 20px;
    display: none;
}


/*
	Styles
*/

a.pdf_link:link,
a.pdf_link:visited {
    color: #fff;
    text-decoration: none;
}

a.pdf_link:hover {
    text-decoration: underline;
}

.m_10 {
    margin-left: 10px;
}

.txt_11 {
    font-size: 13px;
}

.win {
    background-image: url(../images/win_more_bg.png);
}

.firm {
    background-color: #488081;
}

.culture {
    font-size: 22px;
    color: #B7C8CC;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.bold_times {
    font-weight: bold;
}

.gray_bg {
    background: url(../images/gray_bg.png) transparent;
}

.teal_blank {
    background: url(../images/happy_clients.png) transparent;
}

.consulting_experts {
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    color: #fff;
    font-style: italic;
    line-height: 28px;
}

img.center {
    display: block;
    margin: 0 auto;
}

.mb10 {
    padding-bottom: 10px;
}

.icon_right {
    display: block;
    float: right;
    margin-bottom: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 2;
}

.icon_space {
    height: 70px;
    z-index: 1;
}

.icon_space2 {
    height: 60px;
}

.black_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 2;
    display: none;
}

.zix {
    z-index: 2;
}


/*
	Fonts
*/

font.times_16 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 22px;
    font-style: italic;
}

font.times_17 {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    line-height: 22px;
    font-style: italic;
}

font.times_18 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 22px;
    font-style: italic;
}

font.times_22 {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    line-height: 29px;
    font-style: italic;
}

font.times_26 {
    font-family: "Times New Roman", Times, serif;
    font-size: 26px;
    line-height: 28px;
    font-style: italic;
}

font.times_28 {
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    line-height: 34px;
    font-style: italic;
}

font.times_32 {
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    line-height: 36px;
    font-style: italic;
}

font.icon_txt {
    font-family: 'Arial W01 Narrow Bold';
    font-size: 14px;
    line-height: 18px;
}

font.footnote {
    font-size: 12px;
    line-height: 8px;
}

font.wcp {
    font-size: 15px;
    font-style: italic;
    line-height: 18px;
}

.shadow {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
    -moz-text-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
    -webkit-text-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
}

.img_shadow {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .75);
}

h1.white {
    color: #fff;
}


/*
	Font Colors
*/

.white {
    color: #fff;
}

.gray {
    color: #6D7174;
}

.yellow {
    color: #CBCBB2;
}

.red {
    color: #D2A4A6;
}

.overflow {
    overflow: auto;
}